// Colors
$main-color: #fff;
$secondary-color: #898989;
$bg-color: #eceeef;
$dark: #111111;
$dark-light: #222222;
$nav-item-bg: #282828;
$nav-item-dark: #333333;
$main-nav-hover: #e6b991;
$main-nav-hover-light: #faebdc;
$secondary-nav-hover: #dc0032;
$mobile-nav-bg: #f5f5f5;
$line: #f2f2f2;
$footer-line:  #666666;

// Fonts
$menu-fs: 1.4rem;
$main-fs: 1.6rem;

// Device Sizes
$mobile-sm: 479px;
$mobile: 767px;
$tablet-sm: 991px;
$tablet: 1023px;
$desktop-sm: 1199px;
$desktop-md: 1365px;
$desktop-lg: 1679px;
$desktop-xl: 1919px;
