*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: normal;
  }

button, input {
  background: none;
  border: none;
  outline: none;
}

body {
  color: $main-color;
  background: $main-color;
}

main {
  margin: 5rem 0;
}

img {
  vertical-align: middle;
}

.glider { scrollbar-width: none;  -ms-overflow-style: none; }