.dropdown {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    width: 300px;
    top: 50;
    padding-top: 15px;
    color: $nav-item-dark;
  
    &--left {
      left: 0;
    }
  
    &--right {
      right: 0;
    }
  
    &--questions {
      width: 240px;
      right: -50px;
    }
  
    &--cart {
      width: 220px;
      right: -20px;
    }
  
    &__content {
      position: relative;
      padding: 1.7rem 2rem;
      background: $main-color;
      box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  
      &--left {
        &:before {
          left: 22%;
        }
      }
  
      &--right {
        &:before {
          right: 35%;
        }
      }
  
      &--delivery {
        &:before {
          right: 25%;
        }
      }
  
      &--questions {
        padding: 0;
        &:before {
          right: 20%;
        }
      }
  
      &--cart {
        &:before {
          right: 11%;
        }
      }
  
      // &--questions {
      //   &:before {
      //     left: 1%;
      //   }
      // }
  
      &:before {
        content: "";
        position: absolute;
        top: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $main-color;
      }
    }
  }