.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 6;
    background: white;
    color: $dark;
    height: 100vh;
    width: 600px;

    transform: translateX(600px);
    transition: transform 0.2s ease;

    @include mobile {
        width: 420px;
        transform: translateX(420px);
    }

    &.opened {
        transform: translateX(0);
    }

    &#header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        border-bottom: 4px solid $mobile-nav-bg;

        .close {
            cursor: pointer;

            svg {
                fill: $dark;
                width: 20px;
                height: 20px;
            }
        }
    }
}
