.product {
  $main-color: #151515;

  &__container {
    @extend .container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 40px auto;
    color: $main-color;

    @include tablet {
      justify-content: center;
    }
  }
  
  &__column {
    display: flex;
    flex-direction: column;

    &.left {
      flex-basis: 50%;
      cursor: zoom-in;
    }

    &.right {
      flex-basis: 350px;
    } 

    @include tablet {
      margin-top: 100px;
      flex-basis: 90% !important;
      justify-content: center;
    }
  }

  &__image__gallery__root {
    cursor: zoom-in;

    &.fullscreen-modal {
      background: rgba(0,0,0, 0.8) !important;
      cursor: zoom-out;
    }

    & .fullscreen {
      background: rgba(0,0,0,0) !important;
    }
  }

  &__name {
    word-wrap: break-word;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.1;
    text-rendering: optimizeLegibility;
  }

  &__category {
    font-size: 15px;
    margin-top: 10px;
  }

  &__price {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;

    &__discountless { 
      color: #b7b7b7;
      text-decoration: line-through;
      padding-right: 20px;
    }
  }

  &__size_picker {
    &__header {
      display: flex;
      margin-top: 40px;
      justify-content: space-between;

      &__how_to {
        cursor: pointer;
        border-bottom: 1px solid #b7b7b7;
      }
    }

    &__table {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      font-weight: bold;
      
      &__cell {
        cursor: pointer;
        display: flex;
        flex-basis: 33.3%;
        justify-content: center;
        align-items: center;
        
        height: 50px;
        border: 1px solid #b7b7b7;

        &:not(:first-child):not(:nth-child(3n+1)) {
          border-left:  none;
        }

        &:nth-child(n+4) {
          border-top: none;
        }

        &:hover, &.picked {
          background-color: $main-color;
          color: white;
        }
      }
    }

    &__faq {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 6;
      background: white;
      color: $dark;
      height: 100vh;
      width: 600px;

      transform: translateX(600px);
      transition: transform 0.2s ease;

      @include mobile {
        width: 420px;
        transform: translateX(420px);
      }

      &.opened {
        transform: translateX(0);
      }

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        border-bottom: 4px solid $mobile-nav-bg;

        .close {
          cursor: pointer;

          svg {
            fill: $dark;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  &__cart__button {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;  
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px 0;
    cursor: pointer;
  }

  &__description {
    font-size: 13px;
    line-height: 25px;
    word-wrap: break-word;
    opacity: .9;
    margin-top: 40px;
  }

  &__delivery__button {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin-top: 50px;
    padding: 8px 0;
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;

    &.active {
      border-bottom: none;
    }

    &__description {
      height: 0px;
      overflow: hidden;
    
      &.active {
        display: block;
        height: max-content;
        padding: 10px 0;
        border-bottom: 1px solid #b7b7b7;
      }
    }
  }
}