.banner {
    
    &__image {

        transition: .3s ease;

        &:hover {
            box-shadow: 0px 6px 8px rgba(0,0,0,.3);

        }

        img {
            width: 100%;
            height: auto;
        }
    }
}