.container {
    max-width: 1200px;
    margin: 0 auto;

    @include desktop-md {
        max-width: 960px;
    }

    @include tablet {
        max-width: 100%;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    &--large {
        max-width: 1400px;

        @include desktop-lg {
            max-width: 1280px;
        }

        @include desktop-md {
            max-width: 1080px;
        }

        @include desktop-sm {
            max-width: 960px;
        }
    
        @include tablet {
            max-width: 100%;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }

    &--nav__list {
        @include mobile {
            padding-left: 0;
            padding-right: 0;
        }
    }
}