.top-offers {
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: $dark;

    &__title {
        margin-bottom: 3rem;
        transition: color .2s ease;

        @include mobile {
            margin-bottom: 1rem;
            text-align: center;
          }
    }

    &__item {
        text-align: center;

        a {
            color: $dark;
        }

        &:hover {
            .top-offers__item-title {
                color: $secondary-nav-hover;
            }
        }
    }

    &__image {
        width: 100%;
        
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    
}